@model back_end_s7.Models.Utenti

@{
    ViewBag.Title = "Accesso";
}

<h2>Accesso</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary mt-4">Accedi</button>
    @Html.HiddenFor(model => model.Ruolo, new { Value = "Admin" })
}
